* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 5px solid black; */
    font-family: 'Fuzzy Bubbles', cursive;
    background-color: #6cdec6; 
}

nav {
    color: black;
    list-style: none;
    width: 100%;
    text-align: center;
    background-color: #dae940;
    
}

ul {
    margin: 50px;
}

li{
    display: inline-block;

  }

.link1 {
    font-size: 45px;
    font-weight: bolder;
    width: 33%; 
}

.link2 {
    font-size: 45px;
    font-weight: bolder;
    width: 33%;
  }

.link3 {
    font-size: 45px;
    font-weight: bolder;
    width: 33%;
  }

header {
    color: #dae940; 
    background-color: #306ec9; 
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 30px;
   
   
}

.logo {
    margin: 0 auto;
    /* This means it will split between both sides */
    /* border: 5px solid black; */
    /* display: inline-block; */
}

.logo *{
    margin: 0;
}
.logo1 {
    width: 49.5%;    
    height: 400px;

}

.logo2 {
    width: 49.5%;
    height: 400px;

}

h1 {
    width: 100%;

    display: inline-block;
}

.why1 {
    color: #35439a; 
    font-size: 50px;
    text-align: center;
    width: 100%;
    height: 100%;
}
.why2 {
    font-size:50px;
    font-weight: bolder;
    text-align: center;
    list-style: armenian; 
}

.why3 {
    margin: 10px;
    color: darkmagenta;
}

footer {
   background-image: url(https://th.bing.com/th/id/R.18d88847c8d47ad1b1b439494f6df1dd?rik=ZzvxYT7c60578g&pid=ImgRaw&r=0);
   position: bottom;
   bottom: 0%;
  }

.nav {
    list-style: none;
    width: 100%; 
}

.nav2 {
    display: inline-block;
    margin: 20px;
}